For each acquired path location, we create a projection on the reference path; first path location will always match first reference path, the same for the last location.<br>
<br>
A projected position is obtained by:<br>
<ol>
    <li>getting distance between the current path position and the path origin;</li>
    <li>computing the ratio position distance / path length;</li>
    <li>computing the equivalent distance regarding the reference path;</li>
    <li>projecting the position on the reference path.</li>
</ol>